//====================================================================================================
.header {
	&__top {
	}

	&__body {
	}

	&__catalog {
	}
}
.top-header {
	background-color: $mainDarkColor;
	color: #fff;
	&__container {
		display: flex;
		align-items: center;
		gap: rem(20);
		min-height: rem(50);
		@media (max-width:$tablet){
			gap: rem(30)
		}
	}
	&__menu {
		flex: 1 1 auto;
	}
	&__user {
		position: relative;
		z-index: 5;
		display: inline-flex;
		align-items: center;
		font-weight: 600;
		line-height: math.div(20, 18);
		gap: em(15, 18);
		&::before {
			font-size: rem(28);
		
		}
		@media (any-hover: hover) {
			&:hover {
				span {
					color: $mainOrange;
					transition: all 0.3s ease 0s;
				}
			}
		}
		@media (max-width:$tablet){
			&::before {
				font-size: rem(35);
			}
			 span{
				display: none;
			 } 
		}
	}
}
.menu-top-header{
	&__list {
		display: flex;
		row-gap: 5px;
		@include adaptiveValue("column-gap", 60, 20);
		@media (max-width:$tablet) {
			flex-direction: column;
			row-gap: 25px;
		}
	}

	&__item {
		&_catalog{
			@media (min-width:$tablet) {
				display: none;	  
			}
		}
	}

	&__link {
		font-size: rem(16);
		line-height: math.div(20, 16);
		@media (any-hover: hover) {
			&:hover {
				transition: all 0.3s ease 0s;
				color: $mainOrange;
				
			}
		 }
		 &_catalog{
			display: flex;
			align-items: center;
			flex-direction: row-reverse;
			justify-content: space-between;
			&::before{
				flex: 0 0 14px;
				height: 14px;
				display: flex;
				justify-content:center;
				align-items: center;
				font-size: rem(8);
				transform: translateY(rem(-2)) rotate(-90deg);
				
			}
		 }
		 @media (max-width:$tablet){
			@include adaptiveValue("font-size", 30, 20, 992, 320, 1);
		 }
		}
		@media (max-width:$tablet){
			display: none;
		}
	}
//========================================================================================================================================================

.menu {
	&__body {
		@media (max-width:$tablet){
			 position: fixed;
			 width: 100%;
			 height: 100%;
			 top: 0;
			 left: -100%;
			 overflow: auto;
			 background-color: $mainDarkColor;
			 padding: rem(100) rem(15) rem(50) rem(15);
			 transition: all 0.3s ease 0s;
			 z-index: 4; 
			 &::before{
				content:'';
				position: fixed;
				width: 100%;
				height: 70px;
				left: -100%;
				top: 0;
				background-color: $mainDarkColor;
			 }
			 .menu-open &{
				left: 0;
				&::before{
					content:'';
					left: 0;
				}
			 }
		}
	}
	@media (max-width: $tablet) {
		flex: 1 1 auto;
		display: flex;
		justify-content: flex-end;
	}
}
//========================================================================================================================================================

.body-header {
	padding: rem(0) 0;
	background-color: #ecf1f2;
	color: $mainColor;

	&__container {
		display: flex;
		min-height: rem(70);
		align-items: center;
		@media (max-width:$tablet){
			justify-content: space-between;
		}
		@media (max-width:$mobileSmall){
			 justify-content: center; 
		}
	}

	&__logo {
		@extend %ic;
		@extend ._icon-logo;
		font-size: rem(42);
	}

	&__search {
		flex: 1 1 auto;
		@media (min-width:$tablet){
			padding-right: rem(20);
		}
		@media (min-width:$mobileSmall){
			@include adaptiveValue("padding-left", 158, 20, 1620, 1250, 1);
		}
	}

	&__actions {
	}
}
.search-header {
	color: rgba(0, 0, 0, 1);
	border-radius: rem(3);
	position: relative;
	border: 1px solid rgba(4, 4, 4, 0.5);
	@media (min-width: $tablet){
		max-width: rem(377);
	}

	&__button {
		position: absolute;
		top: rem(1.6);
		left: rem(8);
		color: rgba(0, 0, 0, 0.5);
		height: rem(38);
		width: rem(38);
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: rem(16);
	}

	&__input {
		border-radius: rem(3);
		background-color: transparent;
		height: rem(42);
		padding: 0px rem(20) 0px rem(50);
		color: $mainColor;
		&::placeholder {
			color: rgba(0, 0, 0, 0.5);
			
		}
	}
	@media (max-width:$mobileSmall){
		 background-color: #fff; 
		 
	}
}
//========================================================================================================================================================

.actions-header {
	z-index: 2;
	display: flex;
	align-items: center;
	@media (max-width:$tablet){
		display: none;
	}
	@include adaptiveValue("column-gap", 30, 20, 1620, 1000, 1);

	&__location {
		display: inline-flex;
		align-items: center;
		font-weight: 600;
		@include adaptiveValue("margin-right", 25, 0, 1620, 1400, 1);
		&::before {
			font-size: rem(24);
			margin: 0px em(10, 24) 0px 0px;
		}
		@media (any-hover: hover) {
			&:hover {
				span {
					transition: all 0.3s ease 0s;
					color: $mainOrange;
				}
			}
		}
	}

	&__phones {
	}

	&__favorite {
		position: relative;
		z-index: 5;
		font-size: rem(27);
	}

	&__cart {
	}
}
.phones-header {
	position: relative;
	z-index: 5;
	&__items {
	}

	&__item {
		position: relative;
		display: flex;
	}

	&__phone {
		
		font-weight: 600;
		line-height: math.div(22, 18);
		color: $mainColor;
		white-space: nowrap;
		&::before{
			@extend %ic;
			@extend ._icon-footer-phone; 
			display: none;
		}
		&:hover{
			transition: all 0.4s ease 0s;
			color: $mainOrange
		}
		@media (max-width:$tablet){
			font-size: rem(25);
			color: #fff;
		}
		@media (max-width:$mobileSmall){
			&::before{
				display: block;
				color: #fff;
				font-size: rem(29);
			}
			span{
				display: none;
				
			}
		}
	}

	&__arrow {
		color: $mainOrange;
		font-size: rem(10);
		transition: transform 0.3s ease 0s;
		margin: 0px 0px 0px em(17, 16);
		&._spoller-active {
			transform: rotate(-180deg);
		}
		@media (max-width:$tablet){
			display: none;
		}
	}

	&__list {
		position: absolute;
		top: 100%;
		width: 100%;
		left: 0;
		margin: rem(1) 0px 0px 0px;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
		background-color: #fff;
		padding: rem(15);
		border-radius: rem(10);
		li {
			&:not(:last-child) {
				margin-bottom: em(8, 18);
			}
		}
		@media (max-width:$tablet){
			display: none;
		}
	}

	&__callback {
		z-index: 2;
		margin: rem(3) 0px 0px 0px;
		z-index: 2;
		font-weight: 700;
		line-height: math.div(22, 18);
		color: $mainOrange;
		@media (any-hover: hover) {
			&:hover {
				transition: all 0.3s ease 0s;
				color: $mainColor;
			}
		}
		@media (max-width:$tablet){
			display: none;
		}
	}
}
.cart-header {
	display: flex;
	align-items: center;
	column-gap: 15px;
	position: relative;
	z-index: 5;
	&__icon {
		flex: 0 0 37px;
		font-size: rem(35);
		position: relative;
		span {
			position: absolute;
			width: rem(14);
			height: rem(14);
			font-size: rem(7);
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			top: 0;
			right: 0;
			color: #fff;
			background-color: $mainOrange;
		}
	}

	&__body {
		flex: 0 0 auto;
		font-size: rem(17);
		font-weight: 800;
		line-height: math.div(20, 16);
		@media (max-width: em(1250)){
			  display: none;
		}
	}

	&__summ {
		&:not(:last-child) {
			margin-bottom: em(5, 16);
		}
		font-weight: 600;
	}

	&__link {
		color: $mainOrange;
		@media (any-hover: hover) {
			&:hover {
				transition: all 0.3s ease 0s;
				color: $mainColor;
			}
		}
	}
}
//====================================================================================================
.catalog-header {
	background-color: $mainDarkColor;
	color: #fff;
	position: relative;

	&__container {
	}

	&__menu {
	}
	@media (max-width:$mobileSmall){
		 padding: rem(20) 0px; 
	}
}
.menu-catalog {
	@media (max-width: $tablet) {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: $mainDarkColor;
		padding: rem(25) rem(15) rem(50) rem(15);
		transition: left 0.3 ease 0s;
		.catalog-open & {
			left: 0;
			z-index: 6;
		}
	}
	z-index: 1;
	&__list {
		display: flex;
		column-gap: 10px;
		justify-content: space-between;
		@media (max-width:$tablet){
			flex-direction: column;
			row-gap: rem(25);
		}
	}

	&__item {
	}

	&__link {
		display: flex;
		position: relative;
		transition: color 0.3s ease 0s;
		&[data-parent] {
		 &::before{
			@extend %ic;
			@extend ._icon-arrow-bottom;
			display: none; 
			@media (max-width:$tablet){
				display: block;
				transform: translateY(rem(5)) rotate(-90deg);
				font-size: rem(10);
			}
		 }	
		 @media (max-width:$tablet){
			display: flex;
			width: 100%;
			flex-direction: row-reverse;
			justify-content: space-between;
		 }	
		}
		@media (min-width:$tablet){
			justify-content: center;
			align-items: center;
			text-align: center;
			min-height: rem(70);
			padding: 0px rem(10);
		}
		&::after {
			content: "";
			opacity: 0;
			visibility: hidden;
			position: absolute;
			bottom: 0;
			left: rem(10);
			height: 1px;
			background-color: $mainOrange;
			width: calc(100% - rem(20));
			transition: all 0.3s ease 0s;
		}
		@media (any-hover: hover){
			&:hover{
				color: $mainOrange;
				&::after {
					opacity: 1;
					visibility: visible;
				}
			}
		}

		&._sub-menu-active{
			color: $mainOrange;
			&::after {
				opacity: 1;
				visibility: visible;
			}
		}
	
		@media (max-width:$tablet){
			@include adaptiveValue("font-size", 30, 20, 992, 320, 1);
		}
	}

	&__sub-menu {
		z-index: 1;
		width: 100%;
		left: 0;
		top: 100%;
		background-color: $mainDarkColor;
	}
	&__back {
		display: none;
		@media (max-width:$tablet){
			display: inline-flex;
			align-items: center;
			@include adaptiveValue("font-size", 30, 20, 992, 320, 1);
			&:not(:last-child) {
				margin-bottom: em(65, 30);
			}
			&::before{
				margin: 0px em(13, 30) 0px 0px;
				
			}
		}
	}
}
.sub-menu-catalog {
	@media (max-width:$tablet){
		
	}
	&__back {
		display: none;

	}

	z-index: 1;
	&__block {
		display: none;
		@for $var from 1 to 6 {
			&_#{$var} {
				grid-template-columns: repeat($var, minmax(auto, rem(320)));
			}
		}
		&._sub-menu-open{
			display: grid;
			@media (max-width:$tablet){
				display: block;
			}
			
		
			@media (max-width:$tablet){
				display: inline-block;
				position: absolute;
				top: 71px;
				left: 0px;
				width: 100%;
				height: 50%;
				overflow-x: hidden;
				background-color: $mainDarkColor;
				padding: rem(25) rem(15) rem(50) rem(15);
				transition: left 0.3 ease 0s;

				._sub-menu-open & {
					left: 0;
					z-index: 6;
					grid-template-columns: max-content;
				}
			}
		}
	}
		&__container {
		padding: 0px rem(10);
		}


	&__category {
		
		line-height: math.div(20, 16);
		@media (any-hover: hover){
			&:hover{
				transition: all 0.3s ease 0s;
				color: $mainOrange;
			}
		}
		@media (min-width:$tablet){
			padding: rem(30) rem(15) rem(30) 0;
			font-weight: 700;
		}
		@media (max-width:$tablet){
			&:not(:last-child) {
				margin-bottom: em(20, 16);
			}
		}
	}

	&__list {
		margin-bottom: 20px;
		display: flex;
		flex-direction: column;
		gap: 20px;
		padding: rem(30) rem(15) rem(30) 0;
		border-top: 1px solid rgba(255, 255, 255, 0.3);
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
		@media (max-width:$tablet){
			display: none;
		}
	}

	&__item {
	}

	&__link {
		font-size: rem(16);
		line-height: math.div(20, 16);
		@media (any-hover: hover){
			&:hover{
				transition: all 0.3s ease 0s;
				color: $mainOrange;
			}
		}
	}
	&__link-category {
		@include adaptiveValue("font-size", 30, 20, 992, 320);
		}

	&_footer {
		padding: rem(30) rem(15) rem(30) 0;
		@media (max-width:$tablet){
			display: none;
		}
		}

	&__all {
		display: block;
		margin-bottom: rem(20);
		font-size: rem(16);
		color: $mainOrange;
		@media (max-width:$tablet){
			display: none;
		}
		@media (any-hover: hover){
			
			&:hover {
				color:#ecf1f2;
				transition: all 0.3s ease 0s;
			}
		}	
	}
}
//========================================================================================================================================================

//Burger

.icon-menu {
	@media (max-width: $tablet) {
		display: block;
		position: relative;
		width: 40px;
		height: 22.5px;
		cursor: pointer;
		z-index: 10;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: rgb(255, 255, 255);
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
