//====================================================================================================

.main-block {
   background: url("@img/mainpage/main-block/bg.jpg") center / cover no-repeat;
   @include adaptiveValue("padding-top", 40, 20);
   @include adaptiveValue("padding-bottom", 60, 20);

   &__container {
   }

   &__body {
      display: grid;
      align-items: start;
      grid-template-columns: 1fr percent(635, 1600);
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 43, 30);
      }
   }

   &__slider {
      margin: 0px rem(-30);
      padding: 0px rem(30);
   }

   &__swiper {
     
   }

   &__slide {
   }

   &__media {
   }

   &__advantages {
   }

   &__controll {
   }
}
.controll-main-block {
   display: inline-grid;
   grid-auto-flow: column;
   align-items: center;
   gap: rem(20);

   &__dotts {
      display: inline-grid;
      grid-auto-flow: column;
      gap: rem(15);
      .swiper-pagination-bullet {
         cursor: pointer;
         height: rem(20);
         width: rem(18);
         position: relative;
         transition: all 0.3s ease 0s;
         &::after{
            content:'';            
            height: rem(2);
            top: 50%;
            position: absolute;
            width: 100%;
            transform: translate(0px, -50%);
            background-color: #fff;
         }
         &::before {
            content: "";
            background-color: $mainOrange;
            width: rem(10);
            height: rem(10);
            top: 50%;
            left: 0;
            border-radius: 50%;
            transform: translate(0px, -50%);
            position: absolute;
            opacity: 0;
         }
      }
      .swiper-pagination-bullet-active {


         width: rem(30);
         &::after{
            background-color: $mainOrange;
         }
         &::before{
            opacity: 1;
            transition: left 3s linear 0s;
            left: rem(20);
         }
      }
   }

   &__fraction {

   }
}
.fraction-controll {
   display: flex;
   color: #fff;
   align-items: flex-end;
   font-weight: 600;
   letter-spacing: 0.2em;
   &__current {
      color: $mainOrange;
      font-size: rem(24);
   }

   &__all {
      font-size: rem(18);
      
   }
}

.slide-main-block {
   &__content {
      color: #fff;
      padding: rem(0) rem(40) rem(0) rem(0);
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 60, 30);
      }
   }

   &__title {
      font-weight: 700;
      font-size: rem(36);
      line-height: math.div(46, 36);
      &:not(:last-child) {
         margin-bottom: em(15, 36);
      }
   }

   &__sub-title {
      font-size: rem(36);
      line-height: math.div(46, 36);
      &:not(:last-child) {
         margin-bottom: em(30, 36);
      }
   }

   &__text {
      color: #ffffffb2;
      font-size: rem(20);
      line-height: math.div(30, 20);
      padding-bottom: rem(64);
   }

   &__button {
   }
}
.media-main-block {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: rem(15);

   &__body {
      position: relative;
   }

   &__image {
      &::before {
         content: "";
         width: 423px;
         height: 423px;
         border: 2px solid rgba(255, 255, 255, 0.5);
         border-radius: 50%;
         position: absolute;
         bottom: 3.5%;
         right: 0;
         transform: translate(percent(131, 423), 0px);
      }
      img {
         position: relative;
         z-index: 2;
      }
   }

   &__tips {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 5;
   }

   &__tip {
      width: rem(20);
      height: rem(20);
      position: absolute;
      cursor: pointer;
      transition: transform 0.3s ease 0s;
      @media (any-hover: hover) {
         &:hover {
            transform: rotate(-180deg);
         }
      }
      &::before,
      &::after {
         content: "";
         border-radius: 50%;
         background-color: $mainOrange;
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
      }
      &::after {
         opacity: 0.5;
         transform: scale(1.6);
      }
      span {
         position: relative;
         z-index: 2;
         color: #fff;
         font-weight: 600;
         font-size: rem(20);
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         display: flex;
         justify-content: center;
         align-items: center;
      }
      &_1 {
         top: percent(186, 500);
         left: percent(72, 447);
      }

      &_2 {
         top: percent(57, 500);
         right: percent(13, 447);
      }

      &_3 {
         bottom: percent(115, 500);
         right: percent(28, 447);
      }
   }
}
.advantages-main {
   display: grid;
   grid-template-columns: repeat(4, auto);
   gap: rem(10);
   justify-content: space-between;
   &__item {
      display: grid;
      gap: rem(17);
      text-align: center;
      max-width: rem(290);
   }

   &__icon {
   }

   &__text {
      color: #fff;
      font-weight: 600;
      font-size: rem(20);
      line-height: math.div(32, 20);
   }
}
